@import "react-slideshow-image/dist/styles.css";

@font-face {
  font-family: "Stars";
  src: url("./fonts/star.woff") format("woff");
}

html {
  overflow-y: scroll;
  margin: 7.4rem 0 0;
}

body {
  font-family: "Stars", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
}

::selection {
  color: rgb(134, 124, 124);
  background: gold;
}

span {
  font-family: "StarsJedi";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
